In [1]:
import pandas as pd

In [5]:
d1 = pd.read_csv('C:\\Users\\Glavatskih-DE\\Downloads\\PY_kurs\\CSV\\new-site.zip', sep = '\t')

In [6]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        300 non-null    int64
 1   dwell-time  300 non-null    int64
dtypes: int64(2)
memory usage: 4.8 KB

In [7]:
d1

     site  dwell-time
0       0           2
1       1          48
2       0          15
3       1          16
4       0          38
..    ...         ...
295     0          22
296     0           7
297     1         144
298     0          89
299     0         138

[300 rows x 2 columns]

In [11]:
d1.groupby('site')['dwell-time'].mean()

site
0    90.849462
1    88.000000
Name: dwell-time, dtype: float64

In [14]:
from scipy.stats import shapiro
# нулевая и альтернативная гипотезы
H0 = 'Распределения в обеих группах нормальные'
H1 = 'Распределение в одной или обеих группах отлично от нормального'
alpha = 0.05 # уровень значимости
# вычисляем результат теста Шапиро-Уилка для выборок
shapiro_result_a = shapiro(d1[d1.site == 0]['dwell-time'])
shapiro_result_b = shapiro(d1[d1.site == 1]['dwell-time'])
print('p-value группы А', round(shapiro_result_a.pvalue, 4))
print('p-value группы B', round(shapiro_result_b.pvalue, 4))
# сравниваем полученное p-value с уровнем значимости
if shapiro_result_a.pvalue < alpha or shapiro_result_b.pvalue < alpha:
    print("Отвергаем нулевую гипотезу. {}".format(H0))
    print("Альтернативная гипотеза. H1: {}".format(H1))
else:
    print("Принимаем нулевую гипотезу. {}".format(H0))

p-value группы А 0.0
p-value группы B 0.0
Отвергаем нулевую гипотезу. Распределения в обеих группах нормальные
Альтернативная гипотеза. H1: Распределение в одной или обеих группах отлично от нормального

In [15]:
from scipy.stats import mannwhitneyu

p1 = mannwhitneyu(d1[d1.site == 0]['dwell-time'], d1[d1.site == 1]['dwell-time'])
# p2 = mannwhitneyu(d1[d1.site == 1]['dwell-time'])

In [16]:
p1

MannwhitneyuResult(statistic=10506.0, pvalue=0.895811197131841)