In [1]:
import pandas as pd

In [2]:
p1 = pd.DataFrame([0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105], columns=['pit'])
m1 = pd.DataFrame([0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 
           0.0689], columns=['mag'])

In [21]:
#p2 = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
#mean(p2)
print(f"{p1.mean().iloc[0] - m1.mean().iloc[0]}  - разница между средними значениями размера мидий в Петербурге и Магадане")

0.025430357142857143  - разница между средними значениями размера мидий в Петербурге и Магадане

Объединяем два датафрэйма в один

In [3]:
df1 = pd.concat([p1,m1],axis=1)
df1

      pit     mag
0  0.0974  0.1033
1  0.1352  0.0915
2  0.0817  0.0781
3  0.1016  0.0685
4  0.0968  0.0677
5  0.1064  0.0697
6  0.1050  0.0764
7     NaN  0.0689

Одно пустое значение в поле pit заполняем значением медианы

In [4]:
df1 = df1.fillna( {'pit':df1['pit'].median()})
df1

      pit     mag
0  0.0974  0.1033
1  0.1352  0.0915
2  0.0817  0.0781
3  0.1016  0.0685
4  0.0968  0.0677
5  0.1064  0.0697
6  0.1050  0.0764
7  0.1016  0.0689

In [5]:
from scipy.stats import shapiro

Тест Шапиро-Уилка на нормальность распределения

In [6]:
alpha = 0.05
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'

_, p = shapiro(df1)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.101
Данные распределены нормально

Для расчета корреляции используем непараметрически тест на корредяцию Спирмана , т.к. не известны параметры генеральной совокупности и обе переменные количественные

In [7]:
from numpy.random import rand
from scipy.stats import spearmanr

alpha = 0.05

data1 = df1['pit']
data2 = df1['mag']


corr, p = spearmanr(data1, data2)

print(corr,p)

if p>alpha:
    print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу об отсутсвии зависимости между переменными.")
else:
    print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу об отсутсвии зависимости между переменными.")

0.15569141404872366 0.712761707999163
0.712761707999163 > 0.05. Мы не можем отвергнуть нулевую гипотезу об отсутсвии зависимости между переменными.

Т.о. принимаем нулевыю гипотезу об отсутствии зависимости размеров мидий в двух городах.

Зависимая переменная (размер мидии) является количественной. Группы происходят из разных совокупностей. Следовательно, для сравнения выборок мы используем независимый T-тест, который подходит для нормального распределения

In [8]:
from scipy.stats import ttest_ind

H0 = 'Нет значимой разницы между размером мидий в Петербурге и Магадане.'
Ha = 'Есть значимая разница между размером мидий в Петербурге и Магадане.'


print('\n' + "*** Результаты независимого T-теста ***")

test_results = ttest_ind(df1['pit'], df1['mag'], equal_var=True)

p = round(test_results[1],4)

if p>alpha:
    print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу. {H0}")
else:
    print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу. {Ha}")

*** Результаты независимого T-теста ***
0.0029 <= 0.05. Мы отвергаем нулевую гипотезу. Есть значимая разница между размером мидий в Петербурге и Магадане.